 /* .restaurantcontainer {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  width: 100vw;
  transition: 1s;
  position: absolute;


} */
 .myrestaurants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

 /* .restaurant.img {
  border: 2px solid #dfdfde;
  margin: 10px;
  padding: 20px;
  width: 290px;
  margin-bottom: 10px;
  height: 350px;
  overflow:hidden;
 } */

 img {
  max-width: 230px;
  height: 330px;
  object-fit: cover;
  overflow: hidden;
  justify-content: space-between;
  margin: 10px;
  padding: 0px;
  /* box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  /* background: rgba(255, 255, 255, 0.90); */
  /* box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31); */
 }
 .restname {
    font-family: 'Josefin Sans', sans-serif;
 }
 .card {
   width: 300px;
   height: auto;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    margin-top:45px;




 }
 .card-text p {
   font-size: 20px;
   font-weight: bold;
 }
.crbt {
  margin: 20px;
  padding-left: 600px;
  padding-bottom: 20px;
}


/* listdetails */

.restdetail {
  justify-content: center;
  margin-left: 20px;
  text-align: center;

}
.detailimg {
  margin-top:40px;
  padding: 0px;
}
.details {
  font-size: 19px;
  font-family: 'Josefin Sans', sans-serif;
}
