form {
  background-color: white ;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.color-overlay {
  position: absolute;
  background-color: #EEEEEE;
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
  padding-bottom: 200px;
}
