
* {
  margin: 0px;
  padding:0px;
  box-sizing:border-box;
}
.landing{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),url("https://media.vogue.de/photos/5d935696973d550008316355/master/pass/Stocksy_txp87ee30489HU200_Medium_2462135.jpg");
  background-position: center;
  background-size:cover ;
  opacity: 0.9;
}
.banner-foto {
width: 100%;
min-height: 100vh;
padding-top: 10px;
 position: absolute;
left:0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.banner-foto h1{
  font-weight: 400;
  font-family: sans-serif;
  color: white;
  font-size: 45px;
}
.banner-foto p {
  font-weight: 200;
  font-family: sans-serif;
  color: white;
font-size: 25px;
}
